.content-wrapper iframe#hmd1 {
  height: 369px;
}

.content-wrapper iframe#hmd2,
.content-wrapper iframe#hmd3 {
  height: 375px;
}

/* Breakpoint for mid-size screens */
@media only screen and (max-width: 1120px) {
  .content-wrapper iframe#hmd1 {
    height: 277px;
  }

  .content-wrapper iframe#hmd2,
  .content-wrapper iframe#hmd3 {
    height: 285px;
  }
}

/* Navbar collapses at 895px */
@media only screen and (max-width: 895px) {
  .content-wrapper iframe#hmd1 {
    height: 459px;
  }

  .content-wrapper iframe#hmd2,
  .content-wrapper iframe#hmd3 {
    height: 463px;
  }
}

/* iPad */
@media only screen and (max-width: 768px) {
  .content-wrapper iframe#hmd1 {
    height: 393px;
  }

  .content-wrapper iframe#hmd2,
  .content-wrapper iframe#hmd3 {
    height: 398px;
  }
}

/* Mid-point between iPad and iPhone 6 Plus */
@media only screen and (max-width: 591px) {
  .content-wrapper iframe#hmd1 {
    height: 301px;
  }

  .content-wrapper iframe#hmd2,
  .content-wrapper iframe#hmd3 {
    height: 309px;
  }
}

/* iPhone 6 Plus */
@media only screen and (max-width: 414px) {
  .content-wrapper iframe#hmd1 {
    height: 210px;
  }

  .content-wrapper iframe#hmd2,
  .content-wrapper iframe#hmd3 {
    height: 219px;
  }
}

/* iPhone 6 */
@media only screen and (max-width: 375px) {
  .content-wrapper iframe#hmd1 {
    height: 189px;
  }

  .content-wrapper iframe#hmd2,
  .content-wrapper iframe#hmd3 {
    height: 200px;
  }
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
  .content-wrapper iframe#hmd1 {
    height: 161px;
  }

  .content-wrapper iframe#hmd2,
  .content-wrapper iframe#hmd3 {
    height: 171px;
  }
}