/*Background*/

html, body{
    overflow: hidden;
    color: white;
}

#vid {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
      }

/*---------------*/


/* /// Logo and NavBar /// */

/*Logo*/

.niclas {
	position: relative;
}

.niclas a{
	text-decoration: none;
}

.niclas a:hover{
	color: gray;
	text-decoration: none;
}

.niclas a h1{
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 5%;
	font-size: 24px;
	letter-spacing: 0.125em;
  margin-top: 0px;
}

.niclas a h1:hover{
	cursor: default;
	color: 	gray;
	text-decoration: none;
}

.niclas p{
	padding-bottom: 8%;	
}


/*Navigation Bar*/

.navbar {
	position: relative;
}

.navbar nav a{
	display: block;
	text-decoration: none;
}

.navbar nav a:hover{

	cursor: default;
	color: 	gray;
}

 a.email {
	position: fixed;
  bottom: 50px;
}

 a.email:hover{
	cursor: default;
	color: gray;
}


/*------------------------*/


