.content-wrapper iframe#ian {
  height: 375px;
}

/* Breakpoint for mid-size screens */
@media only screen and (max-width: 1120px) {
  .content-wrapper iframe#ian {
    height: 271px;
  }
}

/* Navbar collapses at 895px */
@media only screen and (max-width: 895px) {
  iframe#ian {
    height: 448px;
  }
}

/* iPad */
@media only screen and (max-width: 768px) {
  iframe#ian {
    height: 398px;
  }
}

/* Mid-point between iPad and iPhone 6 Plus */
@media only screen and (max-width: 591px) {
  iframe#ian {
    height: 309px;
  }
}

/* iPhone 6 Plus */
@media only screen and (max-width: 414px) {
  iframe#ian {
    height: 219px;
  }
}

/* iPhone 6 */
@media only screen and (max-width: 375px) {
  iframe#ian {
    height: 200px;
  }
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
  iframe#ian {
    height: 171px;
  }
}