.content-wrapper iframe#nike1,
.content-wrapper iframe#nike2 {
  height: 361px;
}

.content-wrapper iframe#nike3 {
  height: 375px;
}

/* Breakpoint for mid-size screens */
@media only screen and (max-width: 1120px) {
  .content-wrapper iframe#nike1,
  .content-wrapper iframe#nike2 {
    height: 271px;
  }

  .content-wrapper iframe#nike3 {
    height: 277px;
  }
}

/* Navbar collapses at 895px */
@media only screen and (max-width: 895px) {
  .content-wrapper iframe#nike1,
  .content-wrapper iframe#nike2 {
    height: 448px;
  }

  .content-wrapper iframe#nike3 {
    height: 459px;
  }
}

/* iPad */
@media only screen and (max-width: 768px) {
  .content-wrapper iframe#nike1,
  .content-wrapper iframe#nike2 {
    height: 384px;
  }

  .content-wrapper iframe#nike3 {
    height: 393px;
  }
}

/* Mid-point between iPad and iPhone 6 Plus */
@media only screen and (max-width: 591px) {
  .content-wrapper iframe#nike1,
  .content-wrapper iframe#nike2 {
    height: 294px;
  }

  .content-wrapper iframe#nike3 {
    height: 301px;
  }
}

/* iPhone 6 Plus */
@media only screen and (max-width: 414px) {
  .content-wrapper iframe#nike1,
  .content-wrapper iframe#nike2 {
    height: 205px;
  }

  .content-wrapper iframe#nike3 {
    height: 210px;
  }
}

/* iPhone 6 */
@media only screen and (max-width: 375px) {
  .content-wrapper iframe#nike1,
  .content-wrapper iframe#nike2 {
    height: 185px;
  }

  .content-wrapper iframe#nike3 {
    height: 189px;
  }
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
  .content-wrapper iframe#nike1,
  .content-wrapper iframe#nike2 {
    height: 157px;
  }

  .content-wrapper iframe#nike3 {
    height: 161px;
  }
}