/* /// Logo and NavBar /// */

/*Logo*/

.niclas {
	position: relative;
}

.niclas a {
	text-decoration: none;
}

.niclas a:hover {
	color: gray;
	text-decoration: none;
}

.niclas a h1 {
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 5%;
	font-size: 24px;
	letter-spacing: 0.125em;
	margin-top: 0px;
}

.niclas a h1:hover {
	cursor: default;
	color: 	gray;
	text-decoration: none;
}

.niclas p {
	padding-bottom: 8%;
}


/*Navigation Bar*/

.navbar {
	position: relative;
}

.navbar nav a {
	display: block;
	text-decoration: none;
}

.navbar nav a:hover {
	cursor: default;
	color: 	gray;
}

@media only screen and (min-height: 257px) {
  a.email {
    position: fixed;
		bottom: 50px;
  }
}

a.email:hover {
	cursor: default;
	color: gray;
}

a.active {
	color: gray;
}


/* /// Content /// */

.content-wrapper {
	position: absolute;
	top: 50px;
	right: 65px;
	font-size: 12px;
	width: 50%;
}

.row {
	padding-bottom: 5%;
}

.row.title {
	padding-top: 56px;
  font-weight: bold;
}

.row.title.no-padding {
  padding-top: 0;
}

.row.last {
	padding-bottom: 50px;
}

.row.no-text-below {
	padding-bottom: 11.6666%;
}

.content-wrapper iframe {
	width: 650px;
	height: 369px;
}

img {
  width: 650px;
}

.content-wrapper p {
  width: 650px;
}

.content-wrapper .row a:hover {
  cursor: pointer;
  color:  gray;
}

.bold {
  font-weight: bold;
}

/* /// Media Queries /// */

@media only screen and (max-width: 1300px) {
	.content-wrapper {
		width: 650px;
	}
}

@media only screen and (max-width: 1120px) {
	.content-wrapper {
		width: 490px;
	}

	.content-wrapper iframe {
		width: 490px;
		height: 277px;
	}

	img {
	  width: 490px;
	}

  .content-wrapper p {
	  width: 490px;
	}
}

@media only screen and (max-width: 895px) {
	a#toggle span,
	a#toggle span:after,
	a#toggle span:before {
		background-color: #555;
	}

	div#menu {
		background: #9f9f9f;
	}

	div#menu li a {
    color: #fff;
	}

  div#menu:after {
  	border-bottom: 20px solid #9f9f9f;
  }

	.content-wrapper {
		position: relative;
		width: 100%;
		padding-top: 104px;
		right: 0;
	}

	.content-wrapper iframe {
		width: 90%;
		height: 459px;
	}

	.row {
		padding-left: 5%;
		padding-right: 5%;
	}

	.row.title {
		padding-top: 0;
    font-weight: bold;
	}

	.content-wrapper img {
		width: 90%;
	}

	.content-wrapper p {
		width: 75%;
	}

	.niclas a h1, .niclas p {
		padding-bottom: 0;
		margin-bottom: 20px;
	}
}

/* iPad */
@media only screen and (max-width: 768px) {
  .content-wrapper iframe {
    height: 393px;
  }
}

/* Mid-point between iPad and iPhone 6 Plus */
@media only screen and (max-width: 591px) {
  .content-wrapper iframe {
    height: 301px;
  }
}

/* iPhone 6 Plus */
@media only screen and (max-width: 414px) {
  .content-wrapper iframe {
    height: 210px;
  }
}

/* iPhone 6 */
@media only screen and (max-width: 375px) {
  .content-wrapper iframe {
    height: 189px;
  }
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
  .content-wrapper iframe {
    height: 161px;
  }
}
