/* /// Normelize /// */

body, a, div, html, nav, button, input, form, span, ul, li, textarea, strong,
p, select, option,iframe {
  border: 1;
  padding: 0;
  margin: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: inherit;
  cursor: auto;
  list-style: none;
}

/*----------------------*/


/* /// Fonts /// */

@font-face {
	font-family: 'Plain';
	src: url('../fonts/Plain-Regular.eot');
	src: url('../fonts/Plain-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Plain-Regular.woff') format('woff'),
		url('../fonts/Plain-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*----------------------*/


/* /// General Styles /// */

html,body{
width: 100%;
height: 100%;
font-family: Plain;
font-size: 12px;
letter-spacing: 0.12em;
}


/*container*/

.container{
  width: 100%;
  height: 100%;
  position: relative;
  
}


/*Side Menu Bar*/

.sidebar-wraper{
  width:30%;
	position: relative;
	z-index: 200; 
}

.sidebar{
	position: fixed;
	top:5%;
	left:5%;
}

/*----------------------*/


/* /// Menu Toggle button with flat menu /// */

.dropdown{
  display: none;
}

#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px 0px 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 220px;
  padding: 10px;
  margin: 0;
  font-family: Plain;
  text-align: left;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -17px;
  left: 0px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #888;
  color: #fff;
}

/*----------------------*/



/* /// Media Queries /// */


@media only screen and (max-width: 768px) {

  .container {
  float: left;
  display: block;
  margin:0%;
}
.sidebar-wraper{
  width: 100%;
}
  div.sidebar{
    position: relative;
    top:20px;
  }
  div.dropdown{
    position: relative;
    left:0;
    display: block;
    }
    nav.navmenu{
  display: none;
    }
    
    a.email {
    display: none;
  }
  
}


@media only screen and (max-height: 650px) {
  a.email {
    top: 380px;
  }
  
}
@media only screen and (max-height: 585px) {
  a.email {
    top: 280px;
  }
  
}
@media only screen and (max-height: 480px) {
  a.email {
    top: 10px;
  }
  
}

