/*Fonts*/

@font-face {
	font-family: 'Plain-Bold';
	src: url('../fonts/Plain-Bold.eot');
	src: url('../fonts/Plain-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Plain-Bold.woff') format('woff'),
		url('../fonts/Plain-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Plain';
	src: url('../fonts/Plain-Regular.eot');
	src: url('../fonts/Plain-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Plain-Regular.woff') format('woff'),
		url('../fonts/Plain-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*General Styles*/


body{
font-family: plain;
}

/*Background*/ 

iframe#bgVideo {
  object-fit: cover;	
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}



/*Logo and Brand*/

.sideheader{
	position: relative;
	top:30px;
	font-size: 12px;
}

.brand {
	position: relative;
	color: white;
	
}.

.brand a{
	color: black;
	text-decoration: none;
}

.brand a:hover{
	color: #2babc1;
	text-decoration: none;
}

.brand a h1{
	font-family: plain-Bold;
	letter-spacing: 0.05em;
	color: white;
	text-decoration: none;
	padding-bottom: 30px;
	font-size: 24px;

}

.brand a h1:hover{
	cursor: default;
	color: 	#2babc1;
	text-decoration: none;
}

.brand p{
	padding-bottom: 3%;	
}


.brandblack {
	position: relative;
	color: black;
	
	
	
}
.brandblack a{
	color: black;
	text-decoration: none;
}

.brandblack a:hover{
	cursor: default;
	color: 	#2babc1;
	text-decoration: none;
}

.brandblack a h1{
	font-family: plain-Bold;
	letter-spacing: 0.05em;
	color: black;
	text-decoration: none;
	padding-bottom: 30px;
	font-size: 24px;
}

.brandblack a h1:hover{
	cursor: default;
	color: 	#2babc1;
	text-decoration: none;
}

.brandblack p{
	padding-bottom: 3%;
}

/*Navigation Bar*/

#navbar {
	position: relative;
	color: white;
}

#navbar nav a{
	display: block;
	color: white;
	text-decoration: none;
}

#navbar nav a:hover{

	cursor: default;
	color: 	#2babc1;
	
}

 a.email {
 	color:white;
	position: relative;
	top: 280px;
}

 a.email:hover{
	cursor: default;
	
}


#navbarBlack {
	position: relative;
	color: black;	
}

#navbarBlack nav a.active{
	color: 	#2babc1;
}

#navbarBlack nav a{
	display: block;
	color: black;
	text-decoration: none;
}

#navbarBlack nav a:hover{
	cursor: default;
	color: 	#2babc1;
	
}

 a.emailblack {
 	color:black;
	position: relative;
	top: 280px;
}

 a.emailblack:hover{
	cursor: default;
	color: 	#2babc1;
}

div.toggleMenu{
	display: none;
}

nav.visible{
	display: block;
}

/*Page Styles*/

.page {
	position: relative;
	font-size: 12px;
	top: 110px;
	left: 10%;
}
.pad{
	padding-bottom: 30px;
}
.foot{
	padding-bottom: 100px;
	color: black;
}

/*// Media Queries //*/



@media only screen and (max-width: 768px) {
	div.sideheader{
		width:60%;
	}
	div.toggleMenu{
	display: block;
	left:1%;
    }
    nav.visible{
	display: none;
    }
    
    a.email {
		display: none;
	}
	a.emailblack {
		display: none;
	}
	.page{
		left: 0%;
	}
	
}


@media only screen and (max-width: 471px) {

		div.sideheader{
			width: 100%;
		}
}


@media only screen and (max-width: 245px) {

		.brand a h1{
			font-size: 15px;
		}

}

@media only screen and (max-height: 532px) {
	a.email {
		top: 280px;
	}
	a.emailblack {
		top: 280px;
	}

}

@media only screen and (max-height: 519px) {
	a.email {
		top: 250px;
	}
	a.emailblack {
		top: 250px;
	}
	
}

@media only screen and (max-height: 491px) {
	a.email {
		top: 220px;
	}
	a.emailblack {
		top: 220px;
	}

}

@media only screen and (max-height: 460px) {
	a.email {
		top: 190px;
	}
	a.emailblack {
		top: 190px;
	}

}

@media only screen and (max-height: 430px) {
	a.email {
		top: 50px;
	}
	a.emailblack {
		top: 50px;
	}

}

