/*Fonts*/

@font-face {
	font-family: 'Plain-Bold';
	src: url('../fonts/Plain-Bold.eot');
	src: url('../fonts/Plain-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Plain-Bold.woff') format('woff'),
		url('../fonts/Plain-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Plain';
	src: url('../fonts/Plain-Regular.eot');
	src: url('../fonts/Plain-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Plain-Regular.woff') format('woff'),
		url('../fonts/Plain-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*General Styles*/


body{
font-family: plain;
letter-spacing: 0.05em;
background-attachment: fixed;
background-size: cover;
}

/*Background*/ 

div#bgVideo {
  overflow: hidden;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
}

iframe#vimeo{
	position: relative;
	right: 15%;
}


/*Logo and Brand*/

.sideheader-wraper{
	position: relative;
	z-index: 200; 
}
.sideheader{
	position: fixed;
	top:30px;
	font-size: 12px;
}

.brand {
	position: relative;
	color: white;
	
}.

.brand a{
	color: black;
	text-decoration: none;
}

.brand a:hover{
	color: gray;
	text-decoration: none;
}

.brand a h1{
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding-bottom: 30px;
	font-size: 24px;

}

.brand a h1:hover{
	cursor: default;
	color: 	gray;
	text-decoration: none;
}

.brand p{
	padding-bottom: 3%;	
}


.brandblack {
	position: relative;
	color: black;
	
	
	
}
.brandblack a{
	color: black;
	text-decoration: none;
}

.brandblack a:hover{
	cursor: default;
	color: 	gray;
	text-decoration: none;
}

.brandblack a h1{
	font-family: plain-Bold;
	letter-spacing: 0.05em;
	color: black;
	text-decoration: none;
	padding-bottom: 30px;
	font-size: 24px;
}

.brandblack a h1:hover{
	cursor: default;
	color: 	gray;
	text-decoration: none;
}

.brandblack p{
	padding-bottom: 3%;
}

/*Navigation Bar*/

#navbar {
	position: relative;
	color: white;
}

#navbar nav a{
	display: block;
	color: white;
	text-decoration: none;
}

#navbar nav a:hover{

	cursor: default;
	color: 	gray;
	
}

 a.email {
 	color:white;
	position: relative;
	top: 420px;
}

 a.email:hover{
	cursor: default;
	color: gray;
}


#navbarBlack {
	position: relative;
	color: black;	
}

#navbarBlack nav a.active{
	color: 	gray;
}

#navbarBlack nav a{
	display: block;
	color: black;
	text-decoration: none;
}

#navbarBlack nav a:hover{
	cursor: default;
	color: 	gray;
	
}

 a.emailblack {
 	color:black;
	position: relative;
	top: 420px;
}

 a.emailblack:hover{
	cursor: default;
	color: 	gray;
}

div.toggleMenu{
	display: none;
}

nav.visible{
	display: block;
}

/*Page Styles*/

.page {
	position: relative;
	font-size: 12px;
	top: 110px;
	left: 10%;
}
.pad{
	padding-bottom: 30px;
}
.foot{
	padding-bottom: 100px;
	color: black;
}

/*// Media Queries //*/


@media only screen and (max-width: 768px) {
	div.page {
	position: relative;
	font-size: 12px;
	padding-top: 0%;
	width: 100%;
	left: 0%;
}
   div.sideheader-wraper{
   		width:100%;
	   margin: 0;
}
	div.sideheader{
		width:100%;
		position: relative;
	}
	div.toggleMenu{
	display: block;
	left:1%;
    }
    nav.visible{
	display: none;
    }
    
    a.email {
		display: none;
	}
	a.emailblack {
		display: none;
	}
	
	
	
}



@media only screen and (max-width: 245px) {

		.brand a h1{
			font-size: 15px;
		}

}

@media only screen and (max-height: 618px) {
	a.email {
		top: 380px;
	}
	a.emailblack {
		top: 380px;
	}

}

@media only screen and (max-height: 596px) {
	a.email {
		top: 330px;
	}
	a.emailblack {
		top: 330px;
	}
	
}

@media only screen and (max-height: 549px) {
	a.email {
		top: 280px;
	}
	a.emailblack {
		top: 280px;
	}

}

@media only screen and (max-height: 499px) {
	a.email {
		top: 230px;
	}
	a.emailblack {
		top: 230px;
	}

}

@media only screen and (max-height: 448px) {
	a.email {
		top: 0px;
	}
	a.emailblack {
		top: 0px;
	}

}

